
* {
	box-sizing: border-box;
}

body {
	font-family: arial, sans-serif;
	padding: 32px 50px;
}

a {
  text-decoration: none;
}

.section {
	display: flex;
	padding: 32px 0px 16px;
	flex-direction: column;
	align-items: center;
}
.section-title {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 margin: auto;
}
.section-title p {
	color: #212121;
	font-size: 32px;
	font-weight: 700;
}
.section-title span {
	color: #008294;
	font-size: 16px;
	font-weight: 400;
}

.section .section-body {
	padding-top: 32px; 
	display: flex;
	margin: 0px;
}

.content-event {
	margin: 4px 10px;
	padding: 4px;
}
/*category*/
.category {
	display: flex;
	align-items: center;
	margin: 16px 16px;
	border: 1px solid #DDD;
	border-radius: 12px;
}

.category .image-category {
	height: 50px;
	width: 80px;
	background-image: url("https://loremflickr.com/240/320");
	background-size: cover;
	background-position: center;
	border-bottom-left-radius: 12px;
  	border-top-left-radius: 12px;
}

.category .title-category {
	padding-left: 24px;
	flex-grow: 1;
}

/*image and camera*/
.image-information {
	box-sizing: border-box;
	display: flex;
	height: 140px;
	width: 250px;
	background-image: url("https://loremflickr.com/240/320");
	background-size: cover;
	background-position: center;
	align-items: flex-start;
	justify-content:flex-start;
	margin-bottom: 8px; 
}

.image-information .icon-information {
	background-color: #fff;
	color: #333;
	font-size: 12px;
	font-weight: 700;
	padding: 2px 8px 2px 4px;
	border-radius: 3px;
	border: 0px;
	position: relative;
	top: 8px;
	left: 8px;
}

.image-information .fa-video {
	color: #aaa;
}

.partner {
	margin: auto;
	display: flex;
}

.partner .avatar {
	height: 26px;
	width: 26px;
	background-image: url("https://loremflickr.com/240/320/dog");
	background-size: cover;
	background-position: center;
	border: 1px solid #DDD;
	border-radius: 100%;
	display: flex;
	
}

.partner .avatar2 {
	margin-left: -8px;
	z-index: -1
}

.partner .avatar3 {
	margin-left: -8px;
	z-index: -2
}

.partner .text {
	color: #888;
	padding: 8px;
	font-size: 14px;
}

/*content*/
.content {
	width: 250px;
	line-height: 22px;
}

.content .time-infor {
	color: rgb(135, 116, 87);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
}

.content .title-infor {
	font-weight: 700;	
	color: rgb(46, 62, 72);
	font-size: 16px;
	text-overflow: ellipsis;
}

.content .group-infor {
	padding: 8px 0;
	color: rgb(117, 117, 117);
    font-size: 14px;
}




